/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

body {
	font-size:;
}

a,
a:visited {
	color: #0068ad; 
	text-decoration: none;
}
	
a:hover,
a:active {
	color: #86bcdb;
}

.b-page {
    background: #FCFCFC;
}

.b-cv {
    background: #FCFCFC;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
    margin: 0 auto;
	padding: 10px;
    min-width: 360px;
    max-width: 580px;
}

.b-cv__section {
    padding: 10px 0 20px;
    overflow: hidden;
}

    .b-section__header {
        font-size: 1.25em;
        margin-bottom: 10px;
    }

        .b-section__header--big {
            font-size: 1.7em;
        }

    .b-section__content {
        font-size: 0.9em;
        line-height: 1.5em;
        padding: 0 20px;
    }

        .b-section__content--grey {
            color: #696969;
        }

.b-contact img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.b-contact a {
	position: relative;
    padding-left: 25px;
}
	.b-contact a:before {
		position: absolute;
		left: 0;
		top: 50%;
		content: "";
		display: inline-block;
		width: 20px;		
		height: 20px;
		margin:-10px 0 0 0;
		line-height: 0;
    }

    .b-contact--gmail a:before {
        background-image: url(../images/gmail.png);
    }

    .b-contact--github a:before {
        background-image: url(../images/github.png);
    }

    .b-contact--skype a:before {
        background-image: url(../images/skype.png);
    }

    .b-contact--linkedin a:before {
        background-image: url(../images/linkedin.png);
    }

    .b-contact--stackoverflow a:before {
        background-image: url(../images/stackoverflow.png);
    }

.b-skills {
}
    .b-skills__group {
        overflow: hidden;
    }

    .b-skills__header {
		float: left;
		min-width: 18.5%;
		color: #696969;
    }

    .b-skills__content {
		overflow: hidden;
    }

        .b-skill {
            margin: 0 2px;
        }

            .b-skill--advanced {
                font-weight: bold;
            }

            .b-skill--intermediate {
                font-size: 0.9em;
            }

            .b-skill--beginner {
                font-size: 0.75em;
            }

.b-project {
    margin-bottom: 20px;
}

    .b-project:last-child {
        margin-bottom: 0;
    }

    .b-project__header {
		margin: 0 0 6px;
        font-weight: bold;
    }

        .b-project-description__header {
			color: #696969;
			font-weight: bold;
        }

        .b-project-description__achievements {
            margin: 5px 0;
        }

        .b-project-description__achievements li {
            margin-left: 20px;
            list-style: square;
        }

.b-reference img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

.a-joke {
    text-decoration: line-through;
}

.with-explanation {
	cursor: pointer;
}
