/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary,time, mark, audio, video {	margin: 0;	padding: 0;	border: 0;	font-size: 100%;	font: inherit;	vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, menu, nav, section {	display: block;}body {	line-height: 1;}ol, ul {	list-style: none;}blockquote, q {	quotes: none;}blockquote:before, blockquote:after,q:before, q:after {	content: '';	content: none;}table {	border-collapse: collapse;	border-spacing: 0;}

html {
    background: #FCFCFC;
    color: #333;
    font-family: 'PT Sans', sans-serif;
    height: 100%;
}

body {
    height: 100%;
    margin: 0 auto;
    max-width: 700px;
    padding: 10px
}

section {
    font-size: 0.9em;
    margin: 10px 0 20px;
    overflow: hidden;
}

section article > h1 {
    font-size: 1.25em;
    margin-bottom: 10px;
    padding: 0 5px 0;
}

section article > * {
    line-height: 1.5em;
    padding: 0 20px 5px;
}

#introduction article h1 {
    font-size: 1.7em;
}

#introduction article h2 {
    color: #696969;
}

#contacts article ul li img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}

#contacts article ul li a {
    padding-left: 5px;
}

#skills div {
    padding: 0 20px 5px;
}

/*#skills div span {
    background: #dfdfdf;
    display: inline;
    margin: 10px 4px;
    padding: 4px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.35);
    cursor: default
}*/

#skills .advanced {
    font-weight: bold;
    font-size: 1em;
}

#skills .intermediate {
    font-size: 0.8em;
}

#workExperience article section h1 {
    font-weight: bold;
    text-decoration: underline;
}

#workExperience article section p {
    padding: 0 30px;
}

#references article img {
    width: 20px;
    height: auto;
    vertical-align: middle;
}
